## Day 49 Lecture 2 Assignment

In this assignment, we will apply mean shift clustering to a dataset containing the results of a survey on financial wellbeing.

In [0]:
%matplotlib inline

import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from sklearn.cluster import MeanShift, estimate_bandwidth
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import silhouette_score

This dataset contains the results of a survey on a financial wellbeing conducted by the US Consumer Finance Protection Bureau that were published in October 2017. This dataset has a large number of columns, most of which correspond to specific questions on the survey. These codebook for translating the column names to questions can be found here:

https://s3.amazonaws.com/files.consumerfinance.gov/f/documents/cfpb_nfwbs-puf-codebook.pdf

Load the dataset.

In [0]:
# answer goes here

df = pd.read_csv('https://tf-assets-prod.s3.amazonaws.com/tf-curric/data-science/Data%20Sets%20Clustering/financial_wellbeing.csv')
df

      PUF_ID  sample  fpl  SWB_1  ...  PPT1317  PPT18OV  PCTLT200FPL   finalwt
0      10350       2    3      5  ...        0        1            0  0.367292
1       7740       1    3      6  ...        0        2            0  1.327561
2      13699       1    3      4  ...        1        2            1  0.835156
3       7267       1    3      6  ...        0        1            0  1.410871
4       7375       1    3      4  ...        0        4            1  4.260668
...      ...     ...  ...    ...  ...      ...      ...          ...       ...
6389   11220       3    3      6  ...        1        2           -5  0.522504
6390   13118       3    2      7  ...        0        3           -5  1.015219
6391    8709       1    3      5  ...        0        2            0  1.136270
6392    8515       1    3      5  ...        0        2            0  1.224941
6393    8516       3    2      4  ...        0        2           -5  0.626489

[6394 rows x 217 columns]

While the survey questions have the potential for interesting cluster analysis, we will stick to the "score" columns to avoid clustering in an unreasonably high-dimensional space. The columns we are interested in all have "score" in their names; identify and isolate these columns. (There should be 4 in total.)

In [0]:
# answer goes here

df_filtered = df.filter(regex = 'score')
df_filtered['FWBscore'].value_counts()
columns = df_filtered.columns

Standardize the features in your dataset using scikit-learn's StandardScaler, which will set the mean of each feature to 0 and the variance to 1.

In [0]:
# answer goes here
scaler = StandardScaler()
X_std = scaler.fit_transform(df_filtered)

array([[-0.07306245, -0.53090616,  0.65383032,  1.62471561],
       [-0.35567668, -0.6099205 ,  0.65383032, -0.62962645],
       [-0.4969838 , -0.68893483,  0.65383032, -0.16084111],
       ...,
       [ 0.20955178,  0.02219421, -0.67039872, -1.42116191],
       [-0.70894447,  0.25923722, -0.67039872, -1.42116191],
       [-0.4969838 , -0.68893483, -0.67039872, -1.42116191]])

Run mean shift clustering on the scores in the survey dataset using the default bandwidth. Then answer the following by printing or typing as appropriate:

- How many clusters are produced? 
- What are the cluster centers?
- How many responses are assigned to each cluster?
- Are these results reasonable? If not, what changes should we make?

In [0]:
estimate_bandwidth(X_std)

1.9962824784211841

In [0]:
# answer goes here
#run model
clusters = MeanShift(bandwidth =1.5).fit(X_std)

Cluster Centers

In [0]:
cluster_centers = scaler.inverse_transform(clusters.cluster_centers_)
predictions = clusters.predict(X_std)
print('Number of clusters: {}'.format(len(cluster_centers)))
print('Cluster centers: ')
pd.DataFrame(cluster_centers, columns = columns)

Number of clusters: 8
Cluster centers:

    FWBscore    FSscore   LMscore   KHscore
0  58.683315  50.565689  2.943902  0.378775
1  51.626538  45.594903  1.792619 -0.705463
2  54.500000   6.833333  0.000000 -1.958333
3  -1.000000  -1.000000  0.250000 -1.826000
4  70.000000  11.000000  2.500000 -1.599000
5  95.000000  85.000000  0.000000 -2.053000
6  80.000000  10.000000  3.000000  0.712000
7  61.000000   8.000000  1.000000 -1.485000

Responses Assigne to Each Cluster

In [0]:
df_filtered['cluster'] = predictions

df_filtered['cluster'].value_counts()

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

0    4096
1    2156
5      50
4      24
2      23
7      22
6      12
3      11
Name: cluster, dtype: int64

In [0]:
silhouette_score(X_std, predictions)

0.242313170040435

Try changing the appropriate parameters of the mean shift algorithm to achieve a better clustering result. Answer all of the same questions from the previous clustering step.

In [0]:
# answer goes here

#run model
clusters = MeanShift(bandwidth =2).fit(X_std)

In [0]:
cluster_centers = scaler.inverse_transform(clusters.cluster_centers_)
predictions = clusters.predict(X_std)
print('Number of clusters: {}'.format(len(cluster_centers)))
print('Cluster centers: ')
pd.DataFrame(cluster_centers, columns = columns)

Number of clusters: 2
Cluster centers:

    FWBscore    FSscore   LMscore   KHscore
0  57.421547  50.105086  2.812967  0.215943
1  -1.000000  -1.000000  0.250000 -1.826000

In [0]:
df_filtered['cluster'] = predictions

df_filtered['cluster'].value_counts()

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

0    6326
1      68
Name: cluster, dtype: int64

In [0]:
silhouette_score(X_std, predictions)

0.4061338865387727

The majority of the responses fall within 2 clusters in terms of their own financial well being and the other clusters seem to represent responses that are at the tails.